img{
    width: 150px;
    height: 50px;
}

#login, body
{
    background: url("../image/background.jpg") fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.container{
    margin-top: 10%;
}
#card{
    margin-top: 5%;
    margin-bottom: 5%;
}
.log-cont{
    margin-left: auto;
    margin-right: auto;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    display: block;
    /* margin: 30px 0; */
    padding: 10px 50px 10px 10px;
    color: #222;
    border-radius: 4px;
    /* border-bottom: 2px solid #222; */
    width: 100%;
}


.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    /* outline: 0; */
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    /* width: 100%;
    margin: 10px 0 0 0; */
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #cc993d;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.panel-body{
    margin: 20px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	/* height: 50%;
	width: 50%; */
	/* margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	padding: 20px; */
}
/* .panel-login>#panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
} */
.panel-login>#panel-heading a{
	text-decoration: none;
	color: #929292;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>#panel-heading a.active{
	color: #cc993d;
	font-size: 18px;
}
.panel-login>#panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login, .btn-primary {
	background-color: #cc993d;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 10px 5px;
	text-transform: uppercase;
	border-color: #cc993d;
}
.btn-login, .btn-primary:hover,
.btn-login, .btn-primary:focus {
	color: #fff;
	background-color: #cc993d;
	border-color: #cc993d;
}
.log-in-button {
	margin-right: auto;
	margin-left: auto;
}

.forgot-password {
	text-decoration: underline;
	color: #929292;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #888;
}

.btn-register {
	background-color: #cc993d;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
    border-color: #cc993d;
}

.register-button {
    position: unset;
    margin-left: auto;
    margin-right: auto;
}

.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #cc993d;
	border-color: #cc993d;
}

#login-submit {   background-color:#cc993d;
}

.password-mismatch {
    color: #ec5560;
    margin-left: auto;
    margin-right: auto;
}

.addBucket{
    width: 22%;
    height: 250px;
    color: black;
    float: left;
    margin: 40px;

  
}


.card-header{
    font-size: 20px
}
#adBckt{
    margin-left: 45%;
    margin-top: 40% ;   
}
strong{
    color: #000000
}
.card-footer{
    text-align: center;
    padding-bottom: 20px;
    background: transparent;    
}
.card-link{
    color: black;
}
.card-body{
    background: blue
}
